<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="post-preview animated bounce" ng-repeat="post in posts">
				<a href="#/post/{{post.index}}">
					<h2 class="post-title" >{{post.titre}}</h2>
					<h3 class="post-subtitle">{{post.soustitre}}</h3>
				</a>
				<p class="post-meta">
					Posted by <a href="#">{{post.name.first + ' ' + post.name.last}}</a> on {{post.date | date : small}}
				</p>
			</div>
			<hr>
			<!-- Pager -->
			<ul class="pager">
				<li class="next"><a href="#">Older Posts &rarr;</a></li>
			</ul>
		</div>
	</div>
</div>

<hr>

