<div id="top"></div>
<div ng-include="'partial/headerHome.html'"></div>
<!-- Main Content -->
<div class="">
<div class="container" >
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="post-preview" ng-repeat="post in posts">
				<a href="#/post/{{post.index}}" ng-click="gotoTop()">
					<h2 class="post-title" >{{post.titre}}</h2>
					<h3 class="post-subtitle">{{post.soustitre}}</h3>
				</a>
				<a href="" ng-click="setTemplate('partial/headerHome.html',-1)">
				<p class="post-meta">
					Posted by <a href="#">{{post.name.first + ' ' + post.name.last}}</a> on {{post.date | date : small}} 
				</p>
				</a>
				
			</div>
			<hr>
			<!-- Pager -->
			<ul class="pager">
				<li class="next"><a href="#">Older Posts &rarr;</a></li>
			</ul>
		</div>
	</div>
</div>

<hr>
<div ng-include="'partial/footer.html'"></div>
</div>
